html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #7e51a5 !important;
}

::-webkit-scrollbar {
  display: none;
}


#background-wrap {
  left: 0;
  right: 0;
  top: 0;
}

.info {
  margin: 0 auto;
  color: white;
}

.media-left figure img {
  filter: invert(100%)
}

#noosv {
  color: #cea0f7;
}

.column {
  max-width: 500px;
}

.card {
  animation: float 2s ease-in-out infinite;
  filter: drop-shadow(0 0 0.75rem whitesmoke);
  background-color: #714995;
}

.card,
.media-content .subtitle,
.media-content .title,
.card-header-title,
.card-footer a {
  color: white !important;
}

.pp-image img {
  display: inline-block;
  margin-right: auto;
  padding: 15px;
  width: 150px;
  margin-left: auto;
  border-radius: 30px !important;
}

.pp-image {
  animation: backgroundAnimation 2s ease-in-out infinite;
  text-align: center;
}

@keyframes backgroundAnimation {
  0% {
    filter: drop-shadow(0 0 0rem #cea0f7)
  }

  50% {
    filter: drop-shadow(0 0 0.75rem #cea0f7)
  }

  100% {
    filter: drop-shadow(0 0 0rem #cea0f7)
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}